:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

body {
    font-family: var(--primary-font);
    color: #434455;
    background-color: #ffffff;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.img {
    display: block;
}

/* ----------------Header Section----------------*/

.address {
    font-style: normal;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail:hover,
.mail:focus {
    color: #404bbf;
}

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size:18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu {
    display: flex;
    text-decoration: none;
    gap: 40px
    
}

.link:hover,
.link:focus {
    color: #404bbf
}

.span-logo-top {
    color: #2e2f42;
}

.list {
    display: flex;
}

.studiomenu {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}

/* ----------------First Section----------------*/

.section-first {
    padding: 188px 0;
    background-color: #2e2f42;
}

.title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.title-button{
    font-family: inherit;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
}

/* ----------------Second Section----------------*/

.section-second {
    padding: 120px 0;
}


.features-menu {
    display: flex;
    gap: 24px;
}

.features-list{
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------------Third Section----------------*/

.section-third {
    padding-bottom: 120px;
}

.aboutus-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em
}

.menu-aboutus {
    display: flex;
    gap: 24px;
}

.menu-aboutus-list {
    display: flex;
    flex-basis: calc((100% - 3 * 16px) / 3);
}

/* ----------------Fourth Section----------------*/



.section-fourth {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-title {
    margin-bottom: 72px;
}

.team-menu {
    display: flex;
    gap: 24px;
    background-color: #FFFFFF;
}

.team-list {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-container-list {
    padding: 32px 0;
}

.team-list-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    text-align: center;
}


/* ----------------Footer----------------*/

.footer {
    background-color: #2e2f42;

}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.span-logo-bottom {
    color: #f4f4fd;
}




.title-button {
    font-family: inherit;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.list-button {
    font-family: inherit;
    background-color: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
}

.list-button:hover,
.list-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}


.list-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}